# Terraform
**/.terraform/*
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
venv/
.pytest_cache/

# Environment Variables
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
